<table border="1">
  <tr>
    <th>Name</th>
    <td><%= user.name %></td>
  </tr>

  <tr>
    <th>Email</th>
    <td><%= user.email %></td>
  </tr>

  <tr>
    <th>Contact</th>
    <td><%= user.contact %></td>
  </tr>

  <tr>
    <th>Company</th>
    <td><%= user.conpany %></td>
  </tr>

  <tr>
    <th>Service Required</th>
    <td><%= user.webDevlopment %></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%= user.query %></td>
  </tr>


 <tr>
    <th>Admin Remarks</th>
  </tr>
</table>